h1{
    font-style: italic;
    color: aqua;
    font-weight: bold;
    font-size: 28px
    
}
p{
    color: blue;
    font-size: 18px
}
p span{
    color: blue;
    font-weight: bold;
    font-style: italic;
    text-decoration-line: initial;
    font-size: 22px
}
section{
    background: beige;
    
    
}