.circle{
    /*width: 100px;
    height: 100px;
    border-style: solid;
    -moz-border-radius:50px; 
    -webkit-border-radius:50px; 
    border-radius:50px;
    background: blue;
    display: inline-block*/
    font-size: 80px;
    text-align: center

}
div.principal{
    display: inline-block;
    width: 980px;
    height: 600px

}
body{
    width: 1000px;
    height: 1000px;
}
#c1{
    
    width: 100px;
    height: 100px;
    border-style: solid;
    -moz-border-radius:50px; 
    -webkit-border-radius:50px; 
    border-radius:50px;
    background: blue;
    display: inline-block
    
    
    
}
#c2{
    
    width: 100px;
    height: 100px;
    border-style: solid;
    -moz-border-radius:50px; 
    -webkit-border-radius:50px; 
    border-radius:50px;
    background: blue;
    display: inline-block;
    margin: 0px 200px
}
#c3{
    
    /*text-align: right;
    left: 400px*/
    width: 100px;
    height: 100px;
    border-style: solid;
    -moz-border-radius:50px; 
    -webkit-border-radius:50px; 
    border-radius:50px;
    background: blue;
    display: inline-block
    

}


div.prueba {
    
}